<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  
  <label for="user_name">Username
    <input id="user_name" type="text" name="user[user_name]" placeholder="Username">
  </label>
  <br>
  
  <label for="password">Password
    <input id="password" type="password" name="user[password]" placeholder="Password">
  </label>
  <br>
  
   <input type="submit" value="Sign Up">
   
</form>